# Radar-Puffin MT8163 playback and nine-channel microphone capture.
CONFIG_SOUND=y
CONFIG_SND=y
CONFIG_SND_PCM=y
CONFIG_SND_SOC=y
CONFIG_SND_SOC_MT8163=y
CONFIG_SND_SOC_MT8163_RADAR_PUFFIN=y
CONFIG_SND_SOC_AMZN_MT8163_SPI_AUDIO=y
CONFIG_SND_SOC_TLV320AIC32X4=y
CONFIG_SND_SOC_TLV320AIC32X4_I2C=y
CONFIG_SND_SOC_TLV320AIC3101_AMAZON=y
CONFIG_SND_SOC_8_MICS=y
